<ul>
  <p><strong>Menu</strong></p>
  <li><p><a class="aside-a" href="/dashboard/index">Dashboard</a></p></li>
  <li><p><a class="aside-a" href="/dashboard/datos-personales">Datos Personales</a></p></li>
  <li><p><a
        class="aside-a"
        href="/dashboard/historial?page=1"
      >Historial</a></p></li>
  <li><p><a
        class="aside-a"
        href="/dashboard/transferencias"
      >Tranferencias</a></p></li>

</ul>