<p><strong>Bienvenido(a):</strong> {{info.name}}</p>
<p><strong>Fecha conexion:</strong> {{date}}</p>
<p><strong>Saldo Cuenta:</strong> {{saldo}}</p>
<button
  id="btnActualizar"
  class="btn btn-dark w-50 m-auto btn-ingresar fs-4"
  data-mdb-ripple-color="dark"
  onclick="updateAmount()"
>Actualizar Saldo</button>