
  <body>
    <section class="hero" >
      <div class="hero-box">
        <h1>Banco digital de chile</h1>
        <p>"Banking is necessary. Banks are not."</p>
        <div class="hero-btnbox">
         <a class="btn-hero btn-left" href="/login">Iniciar Session</a>
         <a class="btn-hero btn-right"  href="/register">Registrate</a>
        </div>
      </div>
  </body>
