<section class="error_section container">
  <div class="error_main">
    <h1 class="error_tittle">Error</h1>
    <img class="error_img" src="/img/error/404.jpg" alt="404 not found" />
  </div>
</section>